@CHARSET "ISO-8859-1";
.container{
	width: 1150px;
	margin-top: 100px;
}
.form-control {
	height: 45px;
}
.box-shadow-div{
   -moz-box-shadow: 5px 10px 10px rgba(90, 67, 94, 0.92);
   -webkit-box-shadow: 5px 10px 10px rgba(90, 67, 94, 0.92);
   box-shadow: 5px 10px 10px rgba(90, 67, 94, 0.92);
}
.box-shadow-btn{
-webkit-box-shadow: 3px 3px 14px rgba(90, 67, 94, 0.92);
-moz-box-shadow:    3px 3px 14px rgba(90, 67, 94, 0.92);
box-shadow:         3px 3px 14px rgba(90, 67, 94, 0.92);
	
}
.txt-aln-ctr{
	text-align: center;
}
